@import url("https://fonts.googleapis.com/css2?family=Segoe UI:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


:root {
    --sidebar-button-active: #B4CD93;
    --body-background: #e2e2e5;
    --sidebar-background: #474A59;
    --sidenav-active: #000000;
    --sidenav-nonactive: #FFFFFF;
    --text-active: #4C4C4C;
}

    :root[theme='dark'] {
        --sidebar-button-active: #000000;
        --sidebar-background: #171717;
        --sidebar-button-active: #c78a00;
        --body-background: #363636;
        --text-active: #FFFFFF;
        --sidenav-nonactive: var(--text-active);
    }

.settings-nav{
    cursor:pointer;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

ol, ul {
    list-style: none
}

blockquote, q {
    quotes: none
}

    blockquote:before, blockquote:after {
        content: '';
        content: none
    }

    q:before, q:after {
        content: '';
        content: none
    }

table {
    border-collapse: collapse;
    border-spacing: 0
}

a {
    text-decoration: none
}

body {
    margin: 0;
    height: 100vh;
    overflow-x: hidden;
    line-height: 1;
    background-color:var(--body-background)   
}

    body .wrapper {
        display: flex;
        height: 100vh
    }

        body .wrapper .sidebar {
            position: relative;
            background-color: var(--sidebar-background);
            width: 250px;
            height: 100%;
            padding: 65px 0 0 30px;
            flex-grow: 0;
            flex-shrink: 0
        }

            body .wrapper .sidebar .sidenav-content {
                position: fixed;
                top: 65px;
                left: 30px
            }

                body .wrapper .sidebar .sidenav-content a {
                    font-family: 'Segoe UI', sans-serif
                }

                body .wrapper .sidebar .sidenav-content .logo {
                    font-family: 'Segoe UI', sans-serif;
                    color: var(--text-active)
                }

                body .wrapper .sidebar .sidenav-content .sidenav {
                    margin-top: 120px;
                    margin-bottom: 90px
                }

                    body .wrapper .sidebar .sidenav-content .sidenav li {
                        width: 170px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin: 12px 0px;
                        padding: 13px
                    }

                        body .wrapper .sidebar .sidenav-content .sidenav li.active {
                            background-color: var(--sidebar-button-active);
                            border-radius: 4px
                        }

                            body .wrapper .sidebar .sidenav-content .sidenav li.active a {
                                color: var(--sidenav-active)
                            }

                        body .wrapper .sidebar .sidenav-content .sidenav li a {
                            color: var(--sidenav-nonactive)
                        }

                body .wrapper .sidebar .sidenav-content .settings-nav, body .wrapper .sidebar .sidenav-content .logout-nav {
                    display: block;
                    width: 170px;
                    margin: 12px 0px;
                    padding: 13px;
                    text-align: center;
                    color: gray
                }

                    body .wrapper .sidebar .sidenav-content .settings-nav.active, body .wrapper .sidebar .sidenav-content .logout-nav.active {
                        color: #4C4C4C;
                        background-color: #B4CD93;
                        border-radius: 4px
                    }

        body .wrapper .content {
            width: 100%;
            height: 100%;
            padding: 65px 0 0 30px
        }

            body .wrapper .content .search {
                position: relative;
                width: 100%;
                max-width: 500px
            }

                body .wrapper .content .search .search-bar {
                    width: 100%;
                    padding: 14px 12px 12px 52px;
                    background-color: #FAFAFA;
                    border: 1px solid #E6E6E6;
                    border-radius: 4px;
                    color: #4C4C4C;
                    font-family: 'Segoe UI', sans-serif;
                    position: relative
                }

                body .wrapper .content .search::before {
                    content: '';
                    top: 12px;
                    left: 16px;
                    position: absolute;
                    width: 24px;
                    height: 24px;
                    background-image: url(/img/admin/search-normal.svg);
                    z-index: 2
                }

            body .wrapper .content .profile {
                display: flex
            }

                body .wrapper .content .profile .user {
                    display: flex
                }

                    body .wrapper .content .profile .user .user-image img {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%
                    }

                    body .wrapper .content .profile .user .user-information {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        margin: 0 8px;
                        padding: 5px 0px
                    }

                        body .wrapper .content .profile .user .user-information .user-name {
                            font-family: 'Segoe UI', sans-serif;
                            color: #4C4C4C
                        }

                        body .wrapper .content .profile .user .user-information .user-status {
                            font-family: 'Segoe UI', sans-serif;
                            color: gray;
                            font-size: 14px
                        }

                body .wrapper .content .profile .notify {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    background-color: #dbdbdb;
                    margin: 0px 40px
                }

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap
}
