@{
    Layout = null;
}
<form  method="post">
<span>Авторизация</span>
<input type="text" name="login" />
<input type="password" name="password"/>
<input type="submit" name="authenticate"/>
</form>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="~/js/admin/login.js"></script>