@model ErrorViewModel
@{
    ViewData["Title"] = "Внутренняя ошибка сервера";
}

<div class="error">
<h1 style="color:aliceblue">Внутренняя ошибка сервера.</h1>
<h2 style="color:aliceblue">Попробуйте выполнить запрос позднее.</h2>

@if (Model.ShowRequestId)
{
    <p style="color:aliceblue">
        <strong>Идентификатор запроса:</strong> <code>@Model.RequestId</code>
    </p>
}
</div>
